@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.logo{
    width: 180px;
}

.btn1{
    width: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #fff;
    border: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.hero{
    background-image: url("../images/bg-hero-desktop.svg");
}

.section1{
    display: flex;
    padding: 40px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding-top: 50px;
}

h1{
    font-size: 40px;
    width: 70%;
    
}

p{
    font-size: 19px;
    width: 75%;
}

.btn2{
    color: #fff;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    border: 0;
}

.img-moqups{
    width: 50%;
}

.img-1{
    width: 100%;
}

/* Cartas Propiedades */

.cartas{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    gap: 2rem;
    background-color: hsl(0, 0%, 95%);
}

.carta1{
    margin-top: 50px;
}

.carta{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
    border: 1px solid #e7e4e4;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.text-carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 60%;
    padding-left: 20px;

}

.carta2{
    display: flex;
    justify-content: center;
}

.carta3{
    margin-bottom: 150px;
}

.img-carta{
    width: 40%;
}

.carta-build{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carta-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 500px;
    height: 130px;
    border: 1px solid #e7e4e4;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    padding: 15px;
    position: absolute;
    background-color: #fff;
}

.btn3{
    width: 50%;
}


.footer{
    display: flex;
    background-color: hsl(192, 100%, 9%);
}

.contacto{
    padding: 40px;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1.5rem;
}

.ubicacion-div{
    display: flex;
    gap: 1rem;
}

.ubicacion-div p{
    font-size: 14px;
    color: #fff;
}

.ubicacion-div img{
    width: 20px;
    height: 20px;
}

.telefono span{
    font-size: 14px;
    margin-left: 1rem;
    color: #fff;
}

.email a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
}

.nav{
    display: flex;
    gap: 7rem;
    margin-top: 160px;
    padding: 30px;
}

.nav li{
    font-size: 14px;
    list-style-type: none;
    padding: 10px;
    color: #fff;
}

.icn-redes{
    margin-top: 200px;
    margin-left: 50px;
}

.icnRedes{
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.copyright{
    display: none;
}


/* Mobile Desing */

@media screen and (max-width: 480px) {
    
.hero{
    background-image: url("../images/bg-hero-mobile.svg");
}

.header{
    padding: 0;
}

.header .logo{
    margin: 20px;
}

.btn1{
    width: 30%;
    margin: 20px;
}

.section1{
    display: grid;
    grid-template-columns: 1fr;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    
}

.title h1{
    font-size: 26px;
}

.btn2{
    width: 50%;
}

.img-moqups{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 50px;
}

.carta{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    place-items: center;
}

.carta1 .text-carta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    order: 1;
}

.text-carta p{
    text-align: start;
    width: 100%;
    font-size: 15px;
}

.carta1 .img-carta{
    width: 100%;
    order: 0;
}

.carta2{
    display: grid;
    gap: 2rem;
}

.carta2 img{
    width: 100%;
}

.carta2 .text-carta2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-carta2 h3{
    font-size: 18px;
}

.text-carta2 p{
    font-size: 15px;
}

.carta3 .text-carta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 1;
}

.carta3 img{
    width: 100%;
    order: 0;
}

.carta3 h4{
    font-size: 18px;
}

.carta3 p{
    font-size: 15px;
}

.carta-build{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta-b{
    width: 80%;
}

.footer{
    display: grid;
    grid-template-columns: 1fr;
}

.contacto{
    margin-left: 0;
    width: 100%;
}

.nav{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: 0;
}

.icn-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    margin: 20px;
}

}